[submodule "themes/hugo-texify2"]
	path = themes/hugo-texify2
	url = https://github.com/weastur/hugo-texify2.git
[submodule "themes/HugoTex"]
	path = themes/HugoTex
	url = https://github.com/kaisugi/HugoTeX
