<footer class="site-footer">
  <div class="site-footer__inner">
    <p class="site-footer__copy">
      <a href="{{ .Site.BaseURL }}">{{ replace .Site.BaseURL "https://" "" | replace "http://" "" | strings.TrimSuffix "/" }}</a>
      · {{ now.Format "2006" }}
    </p>
    {{- if .Site.Params.showrss -}}
    <a class="site-footer__rss" href="{{ "/index.xml" | absURL }}" title="Subscribe via RSS">
      <img src="{{ "/rss.svg" | absURL }}" alt="RSS" width="20" height="20">
    </a>
    {{- end -}}
  </div>
</footer>
